@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('coolbackG.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}

header {
    background-color: #1b262c;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #3c8dbc;
    text-decoration: none;
    padding: 0.5rem 1rem;
    position: relative;
    transition: color 0.3s;
    font-size: 1.3rem;
}

nav ul li a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #3c8dbc;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

nav ul li a:hover {
    color: #1d73b2;
}

nav ul li a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

main {
    padding: 2rem;
    flex-grow: 1;
}

h1,
h2 {
    color: #1b262c;
    font-size: 2.5rem;
}

section {
    margin-bottom: 2rem;
    background-color: white;
    padding: 1.5rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#introduction {
    text-align: center;
    padding-top: 2rem;
}

#profile-picture {
    width: 100%;
    max-width: 300px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 1rem auto;
}

footer {
    background-color: #3c8dbc;
    color: white;
    text-align: center;
    padding: 1rem;
    bottom: 0;
    width: 100%;
}

a {
    color: #1b262c;
}

a:hover {
    color: #0f4c75;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.intro-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
}

.intro-text {
    max-width: 700px;
}

iframe {
    width: 100%;
    height: 800px;
    border: none;
}

a i {
    margin-right: 5px;
    color: #1b262c;
}

a:hover i {
    color: #0f4c75;
}

.highlight {
    background-color: #3c8dbc;
    color: white;
    padding: 2px 4px;
    border-radius: 3px;
}

h3 {
    color: #27c64c;
    font-size: 2.0rem;
}

#project-list li a,
#project-list2 li a,
#project-list3 li a {
    font-size: 1.4rem;
}

form {
    background-color: white;
    padding: 1.5rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 2rem auto;
}

form label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

form textarea {
    resize: none;
}

form input[type="submit"] {
    display: block;
    background-color: #3c8dbc;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    width: 100%;
    margin-top: 1rem;
    transition: background-color 0.3s;
}

form input[type="submit"]:hover {
    background-color: #1b262c;
}

form br {
    display: none;
}

#contact-me-heading {
    text-align: center;
}

.map-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
}

.leaflet-map {
    width: 200%;
    max-width: 500px;
    height: 500px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.project-1-link,
.project-2-link,
.project-3-link,
.project-4-link,
.project-5-link,
.project-6-link {
    color: #1a8cff;
}

.project-categories {
    display: flex;
    flex-wrap: wrap;
    gap: 6rem;
    justify-content: center;
}

.project-category {
    background-color: white;
    padding: 1.5rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
}

.projects {
    display: grid;
    gap: 1.5rem;
    margin-top: 1.5rem;
}

.project {
    background-color: #e7f2fb;
    padding: 1rem;
    border-radius: 4px;
    text-decoration: none;
    color: #1b262c;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.project:hover {
    transform: translateY(-4px);
}

.project h4 {
    margin: 0;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.centered {
    text-align: center;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    margin-top: 1.5rem;
}

.skill {
    background-color: #f0f0f0;
    padding: 1.5rem;
    border-radius: 4px;
    text-align: center;
}

.skill-icon {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.skill-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.skill-description {
    font-size: 1rem;
    text-align: left;
}

.Projects {
    background-color: white;
    text-align: center;
    font-size: 25px;
    margin-bottom: -1rem; /* Adjust the margin-bottom value as needed */
}


.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 2rem;
    background-color: rgb(254, 254, 254);
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
hr {
    border: none;
    height: 1.5px;
    background-color: #000;
}
.text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    min-width: 300px;
    opacity: 0.9;
    align-items: flex-start; 
}


.titles {
    font-weight: bold;
    text-decoration: none; /* Remove underline from titles */
    font-size: 140%
  }
  
  .titles a {
    text-decoration: none; /* Remove underline from anchor tags within titles */
  }
  
  .title {
    font-weight: bold;
  }
  
  .siteLink {
    text-decoration: underline; /* Add underline to siteLink */
    margin-bottom: 2rem;
  }
  
  .siteLink a {
    font-weight: normal; /* Remove bold from anchor tags within siteLink */
    font-size: 70%
  }

  
  .image-container img {
    max-width: 800px; /* Adjust the width as needed */
    max-height: 800px; /* Adjust the height as needed */
    height: auto;
    border-radius: 15px;
  }
  .text-and-image {
    display: flex;
    align-items: start;
    flex-wrap: nowrap; /* Prevent flex items from wrapping */
}
.kindskills {
    display: flex;
    justify-content: space-around; /* This will space your spans evenly across the container */
    margin-top: 2rem; /* Adjust this to add space above the kindskills div */
}

.kindskills span {
    margin: 0 1rem; /* This will add some space between the spans */
    padding: 0.5rem; /* This adds some space around the text inside the spans */
}

#small-image {
    max-width: 800px; /* Adjust as needed */
    max-height: 800px; /* Adjust as needed */
    height: auto;
    margin-left: 100px; /* Adjust as needed */
}
#small-image1 {
    max-width: 500px; /* Adjust as needed */
    max-height: 500px; /* Adjust as needed */
    height: auto;
    margin-left: 150px; /* Adjust as needed */
}

.text-and-image {
    display: flex;
    align-items: center; /* Center the content vertically */
    justify-content: space-between; /* Add space between text and image */
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40%; /* Adjust the width as needed */
    min-width: 500px;
    opacity: 0.9;
    align-items: flex-start;
}

.image-container {
    width: 50%; /* Adjust the width as needed */
    display: flex;
    justify-content: center; /* Align the image to the right */
}

.image-container img {
    max-width: 100%; /* Adjust the width as needed */
    max-height: 800px; /* Adjust the height as needed */
    height: auto;
    border-radius: 15px;
}
hr {
    margin-top: 1em;
    margin-bottom: 2em;
}

* {
    box-sizing: border-box;
}
