/* styles.css */

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #3c8dbc;
    color: white;
    text-align: center;
    padding: 1rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 2rem;
}

h1, h2 {
    color: #1b262c;
    font-size: 2.5rem
}

section {
    margin-bottom: 2rem;
    background-color: white;
    padding: 1.5rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#introduction {
    text-align: center;
    padding-top: 2rem;
}

#profile-picture {
    width: 100%;
    max-width: 300px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 1rem auto;
}

footer {
    background-color: #3c8dbc;
    color: white;
    text-align: center;
    padding: 1rem;
    bottom: 0;
    width: 100%;
}

a {
    color: #1b262c;
}

a:hover {
    color: #0f4c75;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.intro-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
}

.intro-text {
    max-width: 700px;
}

iframe {
    width: 100%;
    height: 800px;
    border: none;
}

a i {
    margin-right: 5px;
    color: #1b262c;
}

a:hover i {
    color: #0f4c75;
}

.highlight {
    background-color: #3c8dbc;
    color: white;
    padding: 2px 4px;
    border-radius: 3px;
}

h3 {
    color: #760b0b;
    font-size: 2.0rem
}

#project-list li a {
    font-size: 1.4rem; 
}

#project-list2 li a {
    font-size: 1.4rem; 
}

#project-list3 li a {
    font-size: 1.4rem; 
}

form {
    background-color: white;
    padding: 1.5rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 2rem auto;
}

form label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

form input[type="text"], form input[type="email"], form textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

form textarea {
    resize: none;
}

form input[type="submit"] {
    display: block;
    background-color: #3c8dbc;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    width: 100%;
    margin-top: 1rem;
    transition: background-color 0.3s;
}

form input[type="submit"]:hover {
    background-color: #1b262c;
}

form br {
    display: none;
}

#contact-me-heading {
    text-align: center;
}
