body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;

    display:flex;
    flex-direction: column;
    min-height: 100vh;

    background-image: url('coolbackG.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    /* Add a semi-transparent black overlay */
    background-color: rgba(119, 119, 119, 0.5);
    background-blend-mode: multiply;
}

header {
    background-color: #1b262c;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #3c8dbc;
    text-decoration: none;
    padding: 0.5rem 1rem;
    position: relative;
    transition: color 0.3s;
    font-size: 1.3rem;
}

nav ul li a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #3c8dbc;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

nav ul li a:hover {
    color: #1d73b2;
}

nav ul li a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

main {
    padding: 2rem;
    flex-grow:1;
}

h1,
h2 {
    color: #1b262c;
    font-size: 2.5rem;
}

section {
    margin: 2rem auto;
    background-color: white;
    padding: 1.5rem;
    border-radius:5%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 30%; /* You can adjust this percentage to your liking */
}


#introduction {
    text-align: center;
    padding-top: 1em;
}

#profile-picture {
    width: 100%;
    max-width: 300px;
    border-radius: 35%;
    object-fit: cover;
    display: block;
    margin: 1rem auto;
}

footer {
    background-color: #3c8dbc;
    color: white;
    text-align: center;
    padding: 1rem;
    bottom: 0;
}

a {
    color: #1b262c;
}

a:hover {
    color: #0f4c75;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.intro-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
}

.intro-text {
    max-width: 700px;
    margin-top: 40px;
}

a i {
    margin-right: 5px;
    color: #1b262c;
}

a:hover i {
    color: #0f4c75;
}

.highlight {
    background-color: #3c8dbc;
    color: white;
    padding: 2px 4px;
    border-radius: 3px;
}

h3 {
    color: #27c64c;
    font-size: 2.0rem;
}

#project-list li a,
#project-list2 li a,
#project-list3 li a {
    font-size: 1.4rem;
}

form {
    background-color: white;
    padding: 1.5rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 2rem auto;
}

form label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

form textarea {
    resize: none;
}

form input[type="submit"] {
    display: block;
    background-color: #3c8dbc;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    width: 100%;
    margin-top: 1rem;
    transition: background-color 0.3s;
}

form input[type="submit"]:hover {
    background-color: #1b262c;
}

form br {
    display: none;
}

#contact-me-heading {
    text-align: center;
}

.map-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
}

.leaflet-map {
    width: 200%;
    max-width: 500px;
    height: 500px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.project-1-link,
.project-2-link,
.project-3-link,
.project-4-link,
.project-5-link,
.project-6-link {
    color: #1a8cff;
}

.project-categories {
    display: flex;
    flex-wrap: wrap;
    gap: 6rem;
    justify-content: center;
}

.project-category {
    background-color: white;
    padding: 1.5rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
}

.projects {
    display: grid;
    gap: 1.5rem;
    margin-top: 1.5rem;
}

.project {
    background-color: #e7f2fb;
    padding: 1rem;
    border-radius: 4px;
    text-decoration: none;
    color: #1b262c;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.project:hover {
    transform: translateY(-4px);
}

.project h4 {
    margin: 0;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.centered {
    text-align: center;
}
.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    margin-top: 1.5rem;
}

.skill {
    background-color: #f0f0f0;
    padding: 1.5rem;
    border-radius: 4px;
    text-align: center;
}

.skill-icon {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.skill-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.skill-description {
    font-size: 1rem;
    text-align: left;
}

.Projects {
    background-color: white;
    text-align: center;
    font-size: 20px;
  }


  .container {
    transition: transform 0.3s;
}

.container:hover {
    transform: scale(1.05);
}
.interactive-map {
    width: 100%;
}

.interactive-map iframe {
    width: 100%;
    height: 650px;
    border: none;
}
